:host {
    .cards-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }


}



@media screen and (max-width: 450px) {
    :host{
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }
}
>>> a {
    text-decoration: none;
    color: #fff;
}
